body,
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common shared style */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

main{
    margin: 0 110px;
}

.common-text{
    color: #727272;
    font-weight: 400px;
    padding: 24px 0px 0px 0px;
}

/* header section start */
.header {
    padding-bottom: 40px;
    padding-top: 50px;
    background: rgba(255, 144, 14, 0.10);
}

.header nav{
    display: flex;
    justify-content: space-around;
}

.header nav ul{
    display: flex;
}

.header nav ul li{
    list-style: none;
    margin: 0 30px;
}

.header nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

.header .header-banner{
    margin-top: 110px;
    text-align: center;
}

.header .header-banner h1{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.header .header-banner p{
    width: 70%;
    margin: auto;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 30px;
}


.header .header-banner-img{
    margin: 50px 110px 0px 110px;
}

.header .header-banner-img img{
    width: 100%;
}

/* header section end*/


/* feautures section start */

.features-sec{
    margin-top: 85px;
    display: flex;
    align-items: center;
    gap: 75px;
}

.features-sec .features-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feautur-img img{
    width: 100%;
}

.feautures-detail{
    width: 550px;
}

.feautures-detail h1 .quick{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.feautures-detail h1 .our{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feautures-detail h1 .feature{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feautures-detail p{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0px 32px 0px;
}
/* feautures section end */



/* another features section start */

.features-another{
    margin-top: 110px;
    display: flex;
    gap: 100px;
}

.features-another .feautres-title-another{
    width: 50%;
}

.features-another .feautres-title-another h1{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.feauture-list{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px 30px;
}

.another-features-photo{
    width: 50%;
}
.another-features-photo img{
    width: 100%;
}

.experience-badge{
    border-radius: 8px;
    background: #FF900E;
    padding: 42px 40px;
    color: #fff;
    width: 200px;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: -50px;
}

.experience-badge h1{
    font-size: 50px;
    font-weight: 700;
}

.experience-badge p{
    font-size: 25px;
}
/* another features section end */


/* facts section start */
.facts-sec{
    margin-top: 110px;
}

.facts-sec .facts-title h1{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 50px;
    text-align: center;
}

.cards .card{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    border:1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards .card h1{
    font-size: 45px;
    color: #424242;
    padding: 5px;
}

.cards .card p{
    color: #727272;
}
/* facts section end */


/* partner section start */
.partener-sec{
    margin-top: 110px;
}

.partener-sec .partener-detail{
    text-align: center;
}

.partener-detail p{
    width: 50%;
    margin: auto;
    padding: 24px 0px 50px 0px;
    line-height: 26px;
}

.partener-sec .partner-logos{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.partener-sec .partner-logos .logo img{
    width: 100%;
}
/* partner section end */







/* media query start for small device */
@media screen and (max-width: 576px) {
    main{
        margin: 0;
    }
    .header nav, ul, .features-sec, .features-another, .cards, .partner-logos{
        flex-direction: column;
        text-align: center;
    }

    .header .header-banner{
        margin-top: 50px;
    }

    .header .header-banner h1{
        font-size: 45px;
    }

    .header .header-banner-img{
        margin: 50px 10px;
    }

    .features-sec .features-photo{
        grid-template-columns: 1fr;
    }
    .feautur-img img{
        width: 100%;
    }
    .feautures-detail{
        width: 90%;
        padding: 20px;
        margin: auto;
    }

    .features-another .feautres-title-another{
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .features-another .feautres-title-another h1{
        text-align: center;
    }

    .another-features-photo{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .experience-badge{
        width: 200px;
        margin: auto;
        position: static;
        top: 0;
        bottom: 0;
    }
    .facts-title{
        text-align: center;
    }
    .facts-title p{
        padding: 0px 10px;
    }
}



/* media query start for medium device */

@media screen and (min-width: 576px) and (max-width: 960px){
    main{
        margin: 0;
    }
    .header nav, ul, .features-sec, .features-another, .cards{
        flex-direction: column;
        text-align: center;
    }

    .header .header-banner{
        margin-top: 50px;
    }

    .feautures-detail{
        width: 90%;
        padding: 20px;
        margin: auto;
    }

    .features-another .feautres-title-another{
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .features-another .feautres-title-another h1{
        text-align: center;
    }

    .another-features-photo{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .experience-badge{
        width: 200px;
        margin: auto;
        position: static;
        top: 0;
        bottom: 0;
    }

    .facts-title{
        text-align: center;
    }
    .partner-logos{
        flex-wrap: wrap;
    }
}